.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-row: span 8 / span 8;
    grid-column: span 8 / span 8;
    grid-row-start: 2;
    grid-column-start: 2;
    max-width: 800px;

} 

.board-boarder {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: black 6px double;
    max-width: 1000px;
    min-width: 300px;
    background: #550000;
    grid-area: board;
}

.background-in-game {
    display: grid;
    grid-template-rows: 0.5fr repeat(4, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
        "game-banner game-banner game-banner game-banner game-banner"
        "board board board clock clock"
        "board board board . ."
        "board board board . ."
        ". . . . .";
    gap: 1vw;
}

.border-piece {
    aspect-ratio: 1 / 1;
    padding: 0;
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
    text-align: center;   
    line-height: 1;
}

.border-piece h3 {
    font-size: clamp(0.6rem, 2.5vmin, 5rem);
    color: #FFD700;
    -webkit-text-stroke: 0.5px rgb(0, 0, 0); 
    font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
}

.game-banner {
    grid-area: game-banner;
}
